#reserve-modal{
    .modal-header{
        background-color: blueviolet;
        color: white;
    }
    .modal-body{
        background-color: powderblue;
    }
}
.modal-content{
    .modal-header{
        background-color: blueviolet;
        color: white;
    }
    .modal-body{
        background-color: paleturquoise;
    }
}